header {
  box-shadow: 0 4px 5px lightgray;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

h2 {
  margin: 1rem 0;
}

.accueil {
  display: none;
}

.restaurant {
  display: inline;
  color: black;
  position: absolute;
  left: 30px;
  top: 20px;
}
