@keyframes fade {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-top: 1rem;
    opacity: 1;
  }
}

#entrees {
  .card-menu {
    animation: fade 1s both;

    &:nth-child(1) {
      animation-delay: 0.5s;
    }

    &:nth-child(2) {
      animation-delay: 0.75s;
    }

    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}

#plats {
  .card-menu {
    animation: fade 1s both;

    &:nth-child(1) {
      animation-delay: 1.25s;
    }

    &:nth-child(2) {
      animation-delay: 1.5s;
    }

    &:nth-child(3) {
      animation-delay: 1.75s;
    }
  }
}

#desserts {
  .card-menu {
    animation: fade 1s both;

    &:nth-child(1) {
      animation-delay: 2s;
    }

    &:nth-child(2) {
      animation-delay: 2.72s;
    }

    &:nth-child(3) {
      animation-delay: 2.5s;
    }
  }
}

.side-dish {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
