@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");

body {
  font-size: 1rem;
  font-family: $text;
  font-weight: $regular;
}

.ohmyfood {
  font-family: $logo;
}

.name-restaurant {
  font-family: $logo;
  font-size: 1.7rem;
}

.title {
  font-weight: $bold;
  font-size: 1.5rem;
}

h1,
h2 {
  font-size: 2rem;
}

.location {
  font-weight: $medium;
}

.book {
  p {
    font-size: 1.1rem;
    font-weight: 300;
  }
}

#fonctionnement {
  h2 {
    font-weight: $bold;
    font-size: 1.5rem;
  }
}

.description {
  font-weight: $medium;

  i {
    font-size: 1.2rem;
  }
}

.numero {
  font-weight: 400;
}

#restaurants {
  .card-new {
    font-size: 0.9rem;
  }

  .card-name {
    font-weight: $medium;
    font-size: 1.2rem;
  }

  .card-location {
    font-weight: 300;
    font-size: 1.1rem;

    @media screen and (min-width: 992px) {
      font-weight: 300;
    }
  }
}

#menu {
  h3 {
    text-transform: uppercase;
  }

  .card-name {
    font-weight: $medium;
    font-size: 1.1rem;
  }

  .price {
    font-weight: $bold;
  }
}

.fa-heart {
  font-size: 1.6rem;
}

.restaurant {
  font-size: 1.5rem;
}

footer {
  h2 {
    font-size: 1rem;
  }
}
