/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 400;
}

.ohmyfood {
  font-family: Shrikhand;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
}

.location {
  font-weight: 500;
}

.book p {
  font-size: 1.1rem;
  font-weight: 300;
}

#fonctionnement h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.description {
  font-weight: 500;
}

footer h2 {
  font-size: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  text-align: center;
}

.location {
  background-color: #ebeaeb;
  padding: 1rem;
  position: relative;
  z-index: -1;
}

.fa-location-dot {
  padding: 0 1%;
}

.book {
  padding: 2rem 0 4rem 0;
  background-color: #f7f7f6;
}

.book .title {
  padding: 0 14% 1rem 14%;
}

.book p {
  padding: 0 7% 2rem 7%;
}

.book a {
  padding: 4%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  border-radius: 25px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.numero {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;
  text-align: center;
  line-height: 25px;
  z-index: 1;
  left: 4%;
  font-weight: 400;
}

.grey-icons {
  color: #7f7f7e;
}

#fonctionnement {
  margin: 3rem 4%;
}

#fonctionnement h2 {
  text-align: left;
}

#fonctionnement a {
  color: black;
}

.step {
  background-color: #f7f7f6;
  border-radius: 10%;
  padding: 5%;
  margin-top: 2rem;
}

.step:active {
  background: #f2eafb;
}

.step:active i {
  color: #9356dc;
}

.description {
  line-height: 2rem;
  width: 100%;
  text-align: left;
}

.description i {
  padding: 0 8% 0 8%;
  font-size: 1.2rem;
}

header {
  -webkit-box-shadow: 0 4px 5px lightgray;
          box-shadow: 0 4px 5px lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  margin: 1rem 0;
}

.fa-arrow-left {
  display: none;
}

footer {
  background-color: #343435;
  padding: 1rem 0 1rem 4%;
  color: white;
}

footer h2 {
  margin: 0;
  padding-bottom: 1rem;
}

li {
  padding: 0.25rem;
}

a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */